* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
/* !!!!!!!!!!!!!!! HEADER !!!!!!!!!!!!!!!! */

header {
    display: flex;
    justify-content: center;
    position: absolute;
    left: -100vw;
    height: 100vh;
}

a {
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 213, 213);
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    text-decoration: none;
    color: black;
    outline: 1px solid black;
    align-items: center;
}

/* Welkom pagina */

section:nth-of-type(1) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: -100vw;
}

section:nth-of-type(1) h1 {
    align-self: center;
}

section:nth-of-type(1) span {
    display: flex;
    margin-top: 1em;
}

/* Web App From Scratch */

section:nth-of-type(2) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
